In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [3]:
df = pd.read_csv("house.csv")

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
    X = df[["sqft_living"]]
    y = df["price"]

In [6]:
# Split data for train and test
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [7]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

lr.fit(X_train.as_matrix().reshape((-1,1)),y_train)

In [8]:
y_pred = lr.predict(X_test)

In [9]:
y_pred

array([ 732568.6479807 ,  414950.9054128 ,  617569.12049922, ...,
        319117.96584489, 1384232.63704243,  858520.5114128 ])

In [10]:
r2_score(y_test,y_pred)

0.5030774643470592

#Now we will calculate R2 score with polynomial

In [11]:
from sklearn.preprocessing import PolynomialFeatures

In [12]:
pf = PolynomialFeatures(2)  # We are checking R2 score with degree 2

In [13]:
x_poly = pf.fit_transform(X)

In [14]:
# Split data for train and test
X_train,X_test,y_train,y_test = train_test_split(x_poly,y,test_size=0.3,random_state=1)
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
r2_score(y_test,y_pred)

0.5311574735206943

In [15]:
pf = PolynomialFeatures(3)  # We are checking R2 score with degree 2
x_poly = pf.fit_transform(X)
# Split data for train and test
X_train,X_test,y_train,y_test = train_test_split(x_poly,y,test_size=0.3,random_state=1)
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
r2_score(y_test,y_pred)

0.5401886537840668

In [16]:
pf = PolynomialFeatures(4)  # We are checking R2 score with degree 2
x_poly = pf.fit_transform(X)
# Split data for train and test
X_train,X_test,y_train,y_test = train_test_split(x_poly,y,test_size=0.3,random_state=1)
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
r2_score(y_test,y_pred)

0.4921390317166323

In [17]:
List=[]
for i in range(1,8):
    pf = PolynomialFeatures(i)  # We are checking R2 score with degree 2
    x_poly = pf.fit_transform(X)
    # Split data for train and test
    X_train,X_test,y_train,y_test = train_test_split(x_poly,y,test_size=0.3,random_state=1)
    lr = LinearRegression()
    lr.fit(X_train,y_train)
    y_pred = lr.predict(X_test)
    List.append(r2_score(y_test,y_pred))

In [18]:
List

[0.5030774643470592,
 0.5311574735206943,
 0.5401886537840668,
 0.4921390317166323,
 0.11308490955592843,
 0.48549000429890987,
 -28.423332488242536]

In [19]:
# As per output degree 3 R2 score(0.5401886537840668) is good so we need to use degree 3 polynomial here

In [20]:
# Linear Regression model function

def model(X,y,i):
    pf = PolynomialFeatures(i)  # We are checking R2 score with degree 2
    x_poly = pf.fit_transform(X)
    # Split data for train and test
    X_train,X_test,y_train,y_test = train_test_split(x_poly,y,test_size=0.3,random_state=1)
    lr = LinearRegression()
    lr.fit(X_train,y_train)
    y_pred = lr.predict(X_test)
    R2 = r2_score(y_test,y_pred)
    return R2

In [28]:
for i in range(1):
    result = model(df[["sqft_living","grade","sqft_above"]],df["price"],i) # Here we have taken 3 columns only
    print("R2 :",result)

R2 : -0.0004076018354877142

In [29]:
#Now we need to check polynomial regression for all columns.

In [30]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [31]:
for i in range(1):
    result = model(df[['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','grade','sqft_above','sqft_basement','yr_built','yr_renovated','zipcode','lat','long','sqft_living15','sqft_lot15']],df["price"],2) # Here we have taken 3 columns only
    print("R2 :",result)

R2 : 0.833121342037641