In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("Automobile_data.csv")

In [3]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [5]:
df["normalized-losses"] = df["normalized-losses"].replace("?",np.nan)

In [6]:
df["horsepower"] = df["horsepower"].replace("?",np.nan)

In [7]:
df["normalized-losses"] = df["normalized-losses"].astype('float')

In [8]:
df["horsepower"] = df["horsepower"].astype('float')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    164 non-null float64
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           203 non-null float64
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 24.1+ KB

In [10]:
horsepower_mean = df['horsepower'].mean()

In [11]:
horsepower_mean

104.25615763546799

In [12]:
df['horsepower'].fillna(horsepower_mean,inplace=True)

In [13]:
df['horsepower'].unique()

array([111.        , 154.        , 102.        , 115.        ,
       110.        , 140.        , 160.        , 101.        ,
       121.        , 182.        ,  48.        ,  70.        ,
        68.        ,  88.        , 145.        ,  58.        ,
        76.        ,  60.        ,  86.        , 100.        ,
        78.        ,  90.        , 176.        , 262.        ,
       135.        ,  84.        ,  64.        , 120.        ,
        72.        , 123.        , 155.        , 184.        ,
       175.        , 116.        ,  69.        ,  55.        ,
        97.        , 152.        , 200.        ,  95.        ,
       142.        , 143.        , 207.        , 288.        ,
       104.25615764,  73.        ,  82.        ,  94.        ,
        62.        ,  56.        , 112.        ,  92.        ,
       161.        , 156.        ,  52.        ,  85.        ,
       114.        , 162.        , 134.        , 106.        ])

In [14]:
normalized_mean = df['normalized-losses'].mean()

In [15]:
df['normalized-losses'].fillna(normalized_mean,inplace=True)

In [16]:
df['normalized-losses'].unique()

array([122., 164., 158., 192., 188., 121.,  98.,  81., 118., 148., 110.,
       145., 137., 101.,  78., 106.,  85., 107., 104., 113., 150., 129.,
       115.,  93., 142., 161., 153., 125., 128., 103., 168., 108., 194.,
       231., 119., 154.,  74., 186.,  83., 102.,  89.,  87.,  77.,  91.,
       134.,  65., 197.,  90.,  94., 256.,  95.])

In [17]:
# Selecting only numerical columns
df_num = df.select_dtypes(["int64","float64"])

In [18]:
df_num.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,64.1,48.8,130,111.0,21,27,13495
1,3,122.0,64.1,48.8,130,111.0,21,27,16500
2,1,122.0,65.5,52.4,152,154.0,19,26,16500
3,2,164.0,66.2,54.3,109,102.0,24,30,13950
4,2,164.0,66.4,54.3,136,115.0,18,22,17450

In [19]:
# Selecting only object columns
df_cat = df.select_dtypes(["object"])

In [20]:
df_cat.head()

          make fuel-type   body-style drive-wheels engine-location engine-type
0  alfa-romero       gas  convertible          rwd           front        dohc
1  alfa-romero       gas  convertible          rwd           front        dohc
2  alfa-romero       gas    hatchback          rwd           front        ohcv
3         audi       gas        sedan          fwd           front         ohc
4         audi       gas        sedan          4wd           front         ohc

#Label encoding

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
for col in df_cat:
    le = LabelEncoder()
    df_cat[col] = le.fit_transform(df_cat[col])

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
df_cat.head()

   make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0     0          1           0             2                0            0
1     0          1           0             2                0            0
2     0          1           2             2                0            5
3     1          1           3             1                0            3
4     1          1           3             0                0            3

In [24]:
Final_df = pd.concat([df_num,df_cat],axis=1)

In [25]:
# Final data frame is ready for cleaning process
Final_df.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3

In [26]:
X = Final_df.drop("price",axis=1)
y = df['price']

In [27]:
# Split data for train and test
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
# Evaluating model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [29]:
lr = LinearRegression()

In [30]:
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)

In [31]:
lr.score(X_test,y_test)

0.7965566780397381

In [32]:
r2_score(y_test,y_pred)

0.7965566780397381

#Now we will apply Redge and Lasso module to make model from overfit to goodfit

In [33]:
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [34]:
# Now we are checking l2 score with Ridge model
for i in range(50):
    l2 = Ridge(alpha=i)
    l2.fit(X_train,y_train)
    print(i,":",l2.score(X_test,y_test))

0 : 0.7965566780397377
1 : 0.8074518758147271
2 : 0.8110292248150515
3 : 0.8126933383890033
4 : 0.81361486450293
5 : 0.8141745853539418
6 : 0.8145301242133357
7 : 0.8147582608502814
8 : 0.8149010602831952
9 : 0.8149836949253051
10 : 0.8150222867376528
11 : 0.815027724543179
12 : 0.8150076788279418
13 : 0.8149677381788262
14 : 0.8149120868051174
15 : 0.8148439278252518
16 : 0.8147657584947389
17 : 0.8146795554128122
18 : 0.8145869029046835
19 : 0.8144890843369587
20 : 0.8143871485445551
21 : 0.8142819591129827
22 : 0.8141742315788492
23 : 0.8140645619421539
24 : 0.813953448816606
25 : 0.8138413108452036
26 : 0.8137285005403773
27 : 0.8136153153884842
28 : 0.813502006836264
29 : 0.8133887876197213
30 : 0.813275837783145
31 : 0.8131633096537951
32 : 0.8130513319772293
33 : 0.8129400133729974
34 : 0.8128294452363019
35 : 0.8127197041851856
36 : 0.8126108541327799
37 : 0.812502948048576
38 : 0.8123960294605085
39 : 0.8122901337400302
40 : 0.8121852892047273
41 : 0.8120815180669062
42 : 0.8119788372516913
43 : 0.8118772591041923
44 : 0.8117767920020496
45 : 0.8116774408870527
46 : 0.8115792077273272
47 : 0.8114820919198036
48 : 0.8113860906412016
49 : 0.8112911991545092

In [35]:
# Now we are checking l1 score with Lasso model
for i in range(200,500):
    l1 = Lasso(alpha=i)
    l1.fit(X_train,y_train)
    print(i,":",l1.score(X_test,y_test))

200 : 0.8139201358023779
201 : 0.8139280662762406
202 : 0.8139351596604211
203 : 0.8139414452413288
204 : 0.8139468631678922
205 : 0.8139514440169051
206 : 0.813955187854152
207 : 0.8139580947656483
208 : 0.8139601648600466
209 : 0.8139614191109495
210 : 0.8139618129219517
211 : 0.813961388660969
212 : 0.8139601251073796
213 : 0.813958006711075
214 : 0.8139550662926404
215 : 0.8139512871144874
216 : 0.8139466685438558
217 : 0.8139412205900795
218 : 0.8139349321776367
219 : 0.8139278044131173
220 : 0.8139198412531333
221 : 0.8139110395684608
222 : 0.813901396083556
223 : 0.8138907327491185
224 : 0.8138793495175788
225 : 0.813867941317315
226 : 0.8138517841273681
227 : 0.8138300965530064
228 : 0.813808862026844
229 : 0.8137720953012534
230 : 0.8137112454115847
231 : 0.8136506073167213
232 : 0.8135895879419388
233 : 0.8135281292925489
234 : 0.813466234547569
235 : 0.8134039469376061
236 : 0.8133412664626607
237 : 0.8132781990167929
238 : 0.8132147054024552
239 : 0.8131507954227812
240 : 0.8130864923620045
241 : 0.8130217962201243
242 : 0.8129567069971413
243 : 0.812891328869501
244 : 0.8128254778583941
245 : 0.8127592338606415
246 : 0.8126926014737257
247 : 0.812625518198687
248 : 0.8125580417077234
249 : 0.8124901720008357
250 : 0.812421909078023
251 : 0.8123532529392858
252 : 0.8122842035846242
253 : 0.8122147643892639
254 : 0.8121449323093155
255 : 0.8120747070337009
256 : 0.8120040885624206
257 : 0.8119330768954734
258 : 0.8118616493276113
259 : 0.8117898222707731
260 : 0.8117176101040023
261 : 0.8116449992700033
262 : 0.8115719627607367
263 : 0.811498535362421
264 : 0.8114247182567383
265 : 0.8113505077425297
266 : 0.8112759038197943
267 : 0.8112009064885328
268 : 0.8111255157487448
269 : 0.8110497316004308
270 : 0.8109735540435901
271 : 0.8108969830782234
272 : 0.8108200187043304
273 : 0.8107426644653367
274 : 0.8106649359915966
275 : 0.8105868142205799
276 : 0.8105082991522867
277 : 0.8104293907867172
278 : 0.8103500891238709
279 : 0.810270394163748
280 : 0.8101903059063487
281 : 0.8101098243516728
282 : 0.8100289503566498
283 : 0.8099476891019487
284 : 0.8098660345890859
285 : 0.809783986818061
286 : 0.8097015319583754
287 : 0.8096186746243194
288 : 0.8095354239555611
289 : 0.8094517799521009
290 : 0.8093677426139384
291 : 0.8092833119410736
292 : 0.8091984879335066
293 : 0.8091132705912374
294 : 0.809027659914266
295 : 0.808941655902592
296 : 0.8088552585562161
297 : 0.808768467875138
298 : 0.8086812827485821
299 : 0.808593702999889
300 : 0.8085057299003378
301 : 0.8084173634499286
302 : 0.8083286036486615
303 : 0.8082394504965368
304 : 0.808149903993554
305 : 0.8080597663593838
306 : 0.8079694364395277
307 : 0.807878712059504
308 : 0.8077875927452483
309 : 0.8076960801039036
310 : 0.8076041741354694
311 : 0.807511874839946
312 : 0.8074191822173336
313 : 0.807326096267632
314 : 0.8072326169908411
315 : 0.8071387443869611
316 : 0.8070444784559919
317 : 0.8069498191979334
318 : 0.8068547679582497
319 : 0.806759324754675
320 : 0.8066634882387582
321 : 0.806567258410499
322 : 0.8064706355018442
323 : 0.8063736241924755
324 : 0.806276209686474
325 : 0.8061784017113415
326 : 0.8060802004223011
327 : 0.8059816058193523
328 : 0.8058826179024958
329 : 0.8057832366717311
330 : 0.8056834621270582
331 : 0.8055832942684774
332 : 0.8054827330959884
333 : 0.8053817786095915
334 : 0.8052804308092864
335 : 0.8051786896950732
336 : 0.805076555266952
337 : 0.8049740275249224
338 : 0.8048711064689851
339 : 0.8047677920991396
340 : 0.8046640844153861
341 : 0.8045599834177244
342 : 0.8044554891061547
343 : 0.8043506014806769
344 : 0.8042453205412912
345 : 0.8041396462879971
346 : 0.804033578720795
347 : 0.8039271178396848
348 : 0.8038202636446665
349 : 0.8037130161357406
350 : 0.8036053753129061
351 : 0.8034973411761638
352 : 0.8033889137255131
353 : 0.8032800980551268
354 : 0.803170889262357
355 : 0.8030612871796007
356 : 0.8029512918068575
357 : 0.8028409031441278
358 : 0.8027301211914113
359 : 0.8026189459487084
360 : 0.8025073774160187
361 : 0.8023954155933423
362 : 0.8022830604806791
363 : 0.8021703171121435
364 : 0.802057182148053
365 : 0.8019436539226591
366 : 0.801829732435962
367 : 0.8017154176879616
368 : 0.801600709678658
369 : 0.8014856084080508
370 : 0.8013701138761409
371 : 0.8012542260829274
372 : 0.8011379462701961
373 : 0.8010212751908075
374 : 0.8009042172865066
375 : 0.8007867661601789
376 : 0.8006689218118243
377 : 0.800550684241443
378 : 0.800432053449035
379 : 0.8003130294346004
380 : 0.800193612198139
381 : 0.8000738072795831
382 : 0.7999536124452485
383 : 0.7998330244208515
384 : 0.7997120432063927
385 : 0.7995906688018721
386 : 0.7994689012072893
387 : 0.7993467366322341
388 : 0.7992241732535745
389 : 0.7991012126725364
390 : 0.7989778588559754
391 : 0.7988541118038919
392 : 0.7987299715162852
393 : 0.7986054379931559
394 : 0.7984805112345036
395 : 0.7983551936194992
396 : 0.7982294953903467
397 : 0.7981034039735372
398 : 0.7979769193690709
399 : 0.7978500415769475
400 : 0.7977229768452248
401 : 0.797595316979359
402 : 0.7974672639209062
403 : 0.7973388176698656
404 : 0.7972099782262378
405 : 0.7970807492907477
406 : 0.7969511276479816
407 : 0.7968211128006852
408 : 0.7966907047488581
409 : 0.7965599034925004
410 : 0.7964287090316121
411 : 0.7962971141894278
412 : 0.7961658095051947
413 : 0.7960333874447736
414 : 0.7959005840477482
415 : 0.7957673485417148
416 : 0.7956360399711223
417 : 0.7956012202839211
418 : 0.7955644775167092
419 : 0.7955276099492593
420 : 0.7954937732294455
421 : 0.7954792349354558
422 : 0.7954646622071457
423 : 0.7954500580147692
424 : 0.7954354223583258
425 : 0.7954207552378159
426 : 0.7954060566532389
427 : 0.7953913266045957
428 : 0.7953765650918857
429 : 0.7953617721151091
430 : 0.795346947674266
431 : 0.7953320917693557
432 : 0.7953172100333781
433 : 0.7953023265976903
434 : 0.7952888275634816
435 : 0.7952738957429267
436 : 0.7952589324974931
437 : 0.7952439378271803
438 : 0.795228911731989
439 : 0.7952138522057596
440 : 0.7951987590412704
441 : 0.795183635814257
442 : 0.795168482571672
443 : 0.7951532979028971
444 : 0.7951380818079329
445 : 0.7951228941367539
446 : 0.7951076795054992
447 : 0.7950924335037355
448 : 0.7950771561314626
449 : 0.7950618668526035
450 : 0.7950465607641614
451 : 0.7950312233360108
452 : 0.7950158545681519
453 : 0.7950004544605845
454 : 0.7949850853076297
455 : 0.7949697021173643
456 : 0.7949542876563074
457 : 0.7949388419244583
458 : 0.7949233649218175
459 : 0.7949078596503468
460 : 0.7948924206311466
461 : 0.7948769504284543
462 : 0.7948614639887756
463 : 0.7948501408515352
464 : 0.7948434115801503
465 : 0.7948369145454427
466 : 0.7948304073993945
467 : 0.7948238901420057
468 : 0.7948173627732755
469 : 0.794810825293205
470 : 0.7948042777017933
471 : 0.794797719999041
472 : 0.7947911521849479
473 : 0.7947845742595139
474 : 0.7947779846721656
475 : 0.7947713777053392
476 : 0.7947647606241638
477 : 0.7947581316579226
478 : 0.7947514874358043
479 : 0.7947448330965516
480 : 0.7947381686401647
481 : 0.7947314940666432
482 : 0.7947248093759877
483 : 0.7947181145681976
484 : 0.7947114096432736
485 : 0.794704694601215
486 : 0.7946979694420219
487 : 0.7946912341656945
488 : 0.794684488772233
489 : 0.7946777332616372
490 : 0.794670967633907
491 : 0.7946641918890422
492 : 0.794657406027043
493 : 0.7946506100479099
494 : 0.7946438039516425
495 : 0.7946369877382407
496 : 0.7946301614077043
497 : 0.7946233249600336
498 : 0.7946164783952289
499 : 0.7946096463760299

In [44]:
l2 = Ridge(alpha=11)
l2.fit(X_train,y_train)
print(l2.score(X_test,y_test))

0.815027724543179

In [45]:
l1 = Lasso(alpha=212)
l1.fit(X_train,y_train)
print(l1.score(X_test,y_test))

0.8139601251073796

In [46]:
#Coefficient with Lasso
l1.coef_

array([   0.        ,    2.06688612,  293.00804229,  475.74946113,
        116.54461228,   15.88311143,   18.71477938, -106.73349254,
       -165.63385126,   -0.        , -417.94284571, 1064.54140452,
       1219.50325351,  307.62453398])

In [47]:
#Coefficient with Ridge

l2.coef_

array([ 2.08075572e+02, -4.19381533e-01,  3.60059061e+02,  5.73951520e+02,
        1.04837625e+02,  2.25081577e+01,  2.09621781e+02, -2.70364868e+02,
       -1.85682528e+02, -8.73561956e+02, -6.31723522e+02,  1.53165287e+03,
        2.37667318e+03,  5.13039213e+02])

In [48]:
#If we have values in both l1 & l2 then we can add them both and divide by 2

Elastic_Net = (l1.coef_+l2.coef_)/2

In [49]:
Elastic_Net

array([ 1.04037786e+02,  8.23752296e-01,  3.26533552e+02,  5.24850491e+02,
        1.10691119e+02,  1.91956346e+01,  1.14168280e+02, -1.88549180e+02,
       -1.75658190e+02, -4.36780978e+02, -5.24833184e+02,  1.29809714e+03,
        1.79808822e+03,  4.10331873e+02])

In [50]:
from sklearn.model_selection import cross_val_score

In [51]:
l1_corssScore = cross_val_score(l1,X,y,cv=4)

In [52]:
l1_corssScore

array([0.76829534, 0.81734961, 0.43670651, 0.44902514])

In [53]:
l2_corssScore = cross_val_score(l2,X,y,cv=4)
l2_corssScore

array([0.74102278, 0.859919  , 0.40754955, 0.45287323])

In [54]:
np.mean(l1_corssScore)

0.6178441498868903

In [55]:
np.mean(l2_corssScore)

0.6153411408406563